*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:white;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navBarHome{
    background-color:#3A59A8;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    

}


.boxBackground{
    background-color: #D8E5FF;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Logo{
    float: left;
    padding: 2px;
    margin:4px;
    width: auto;
    height: auto;
}

.listContainer{
  align-items: center;
  justify-content: center;
  display: inline;
  width: auto;
  height: auto;
  margin:0 auto;
}

.listContainer ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.buttonContainer{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}
@media only screen and (max-width: 768px){
    .buttonContainer{
        flex-direction: column;
    }
    .listContainer{
        flex-direction: column;
    }
    
}

ul {
    padding: 2px;
    margin: 0px;
    text-align: center;
    color: white;
    display: inline;
  }

li {
    list-style-type: none;
    padding: 10px;
    margin-top: 4px;
    display: inline;
    text-align: left;
  }

  li a {
    color: white;
  }

Button {
    margin: 8px;
    color: white;
    background-color:#23A6F0;
    border: none;
    white-space: nowrap;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.heading{
    text-align: center;
    margin-top: 4px;
    font-size: 4vw;
    font-weight: bold;
    color: #3A59A8;
    text-shadow: 0px 2px 2px rgb(58, 56, 56);
}
.startImage{
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px 25px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.introBox{
    background-color: #D8E5FF;
    
}


.introBox img {
    margin-left: 10%;
    display: block;
    height: auto;
}

.introDesc{
    height: fit-content;
    width: fit-content;
}

#introDesc{
    font-weight:normal;
    font-size: 1.5vw;
    text-align: left;
    text-shadow: none;
    color: #737373;
    display: block;
    height: auto;
    width: fit-content;
    margin-right: 10px;
    overflow-wrap: break-word;
    
    
}
.startButton{
    display: block;
    grid-area: 2/2/2/2;
    
}
#startbutton{
    padding: 3%;
    font-weight: bold;
    background-color: #3A59A8;
    font-size: 2vw;
    
    
    
}
.infoBox{
    background-color: #86B1F2;
    
}


.infoContent{
    height: min-content;
    display: grid;
    grid-template-columns: 66% 33%;
    margin: 20px;
    

}

.infoBox img{
    display: block;
    margin:auto;
    width: 100%;
    
}

.infoButton{
    display: block;
    width: fit-content;
    height: fit-content;

}

.infoBox p {
    text-align: left;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    text-shadow: none;
}

#infoDesc{
    text-align: left;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 1.5vw;
    font-weight: normal;
    color: white;
    text-shadow: none;
}

.workBox{
    background-color: #3A59A8;
}
.workContent{
    display: grid;
    grid-template-columns: 50% 50%;
    height: min-content;
    margin-left: 20px;
    
}
.workBox p{
    text-align: left;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    text-shadow: none;
}

.workImage{
    display: block;
    margin:auto;
    size: 100%;
}

.workDesc{
    font-weight:normal;
    font-size: 1.5vw;
    text-shadow: none;
}

.workDesc ul{
    text-align: center;
}
.workList{
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
    border: solid;

}

.workList li{
    display: grid;
    grid-template-columns: min-content 500px;
    column-gap: 0;
    row-gap: 30px;
    font-size: 1.5vw;
    white-space: nowrap;
      
}



#firstList::before{
    content: "";
    background: center/contain no-repeat url("./images/Num1Circle.svg");
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#secondList::before{
    content: "";
    background: center/contain no-repeat url("./images/Num2Circle.svg");
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#thirdList::before{
    content: "";
    background: center/contain no-repeat url("./images/Num3Circle.svg");
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#fourthList::before{
    content: "";
    background: center/contain no-repeat url("./images/Num4Circle.svg");
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#fifthList::before{
    content: "";
    background: center/contain no-repeat url("./images/Num5Circle.svg");
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


h1{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    font-size: 4vw;
    margin-left: 20px;

}
h2{
    color: white;
    font-weight: normal;
    margin-top: 10px;
    font-size: 3vw;
    margin-left: 20px;

}

.testimonialBox{
    background-color: #ACD6DF;
    padding: 10px;
}

.testimonialBubble1{
    display: inline-flex;
    align-items: center;  
}

.testimonialBubble2{
    display: inline-flex;
    align-items: center;  
}

.testimonialBubble3{
    display: inline-flex;
    align-items: center;  
}

.wordBubble {
    background-color: white;
    border-radius: 12px;
    padding:2%;
    margin: 0 auto;
    margin-top: 10px;
    
}
.wordBubble p {
    margin: 0;
    font-size: 1.5vw;
}
.circleImage{
    float: left;
}
.rPic{
    color: #23A6F0;
    font-size: 1.5vw;
    margin: 0;
}
#specialPic{
    text-align: end;
}

#specialStars{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}


.footerHome{
    margin-top: 20px;
    background-color:#3A59A8;
    color: white;
    width: 100%;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
}
.footerHome p {
    margin: 10px;
    text-align: center;
}