*{
    font-family: 'Montserrat', sans-serif;;
}
body{
    background-color:white;
}


.navBarHome{
    background-color:#3A59A8;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    

}


.boxBackground{
    background-color: #D8E5FF;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Logo{
    float: left;
    padding: 2px;
    margin:4px;
}

.listContainer{
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.buttonContainer{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

ul {
    padding: 2px;
    margin: 0px;
    text-align: center;
    color: white;
    display: inline;
  }

li {
    list-style-type: none;
    padding: 10px;
    height: 24px;
    margin-top: 4px;
    display: inline;
  }

Button {
    margin: 8px;
    color: white;
    background-color:#23A6F0;
    border: none;
    white-space: nowrap;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.heading{
    text-align: center;
    margin-top: 4px;
    font-size: 48px;
    font-weight: bold;
    color: #3A59A8;
    text-shadow: 0px 2px 2px rgb(58, 56, 56);
}

.introBox{
    background-color: #D8E5FF;
    
}

.introContent{
    width:80%;
    height:min-content;
    display: inline-flex;
    
}

.introBox img {
    margin-left: 260px;
    display: block;
}

.introDesc{
    height: fit-content;
    width: fit-content;
}

#introDesc{
    font-weight:normal;
    font-size: 24px;
    text-align: left;
    text-shadow: none;
    color: #737373;
    
    
}
.startButton{
    display: block;
    
}
#startbutton{
    padding: 3%;
    font-weight: bold;
    background-color: #3A59A8;
    
    
    
}
.infoBox{
    background-color: #86B1F2;
    
}


.infoContent{
    width:80%;
    height: min-content;
    display: inline-flex;
    margin-left: 150px;
    

}

.infoBox img{
    display: block;
    margin:auto;
    
}

.infoButton{
    display: block;
    width: fit-content;
    height: fit-content;

}

.infoBox p {
    text-align: left;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: none;
}

#infoDesc{
    text-align: left;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-shadow: none;
}

.workBox{
    background-color: #3A59A8;
   
    
}
.workContent{
    width:80%;
    display: inline-flex;
    height: min-content;
    margin-left: 150px;
}
.workBox p{
    text-align: left;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: none;
}
.workBox img{
    
}
.workImage{
    display: block;
    margin:auto;
}

#workDesc{
    font-weight:normal;
    font-size: 24px;
    text-align: left;
    text-shadow: none;
    
    
}
h1{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    font-size: 48px;
    margin-left: 20px;

}

.testimonialBox{
    background-color: #ACD6DF;
    padding: 10px;
}

.testimonialBubble1{
    display: inline-flex;
    align-items: center;  
}

.testimonialBubble2{
    display: inline-flex;
    align-items: center;  
}

.testimonialBubble3{
    display: inline-flex;
    align-items: center;  
}

.wordBubble {
    background-color: white;
    border-radius: 12px;
    padding:2%;
    margin: 0 auto;
    margin-top: 10px;
    
}
.wordBubble p {
    margin: 0;
}
.circleImage{
    float: left;
}
.rPic{
    color: #23A6F0;
    font-size: 18px;
    margin: 0;
}
#specialPic{
    text-align: end;
}

#specialStars{
    position: relative;
    left: 90%;
}


.footerHome{
    margin-top: 20px;
    background-color:#3A59A8;
    color: white;
    width: 100%;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
}
.footerHome p {
    margin: 10px;
    text-align: center;
}